<div class="text-center text-danger">
  <%= render "layouts/error_messages", model: @record %>
</div>
<div class="row">
  <div class="card offset-2 col-8">
    <h3 class="text-center pt-5">学習記録の詳細</h3>
    <div class="text-center">
      <span>こちらのフォームで編集できます。</span>
    </div>
    <%= form_with url: language_record_path(), model: @record do |f| %>
      <div class="text-center text-danger">
        <%= render "layouts/error_messages", model: f.object %>
      </div>
      <div class="offset-2 mt-3 mb-3">
        <%= f.label :detail, "詳細" %><br>
      </div>
      <div class="offset-2 col-8">
        <%= f.text_area :detail, class: "form-control" %><br>
      </div>
     <div class="row">
      <div class="offset-2 mb-2">学習時間</div>
      <div class="offset-2 col-4">
        <%= f.label :learning_hours, "時" %>
        <%= f.select :learning_hours, (0..10).to_a,{}, class: "form-select" %>
      </div>
      
      <div class="col-4 mb-4">
        <%= f.label :laerning_minutes, "分" %>
        <%= f.select :laerning_minutes,[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55],{}, class: "form-select" %><br>
      </div>
    </div>
      <div class="offset-3 col-6 d-grid mt-3">
        <%= f.submit "編集", class: "btn btn-orange" %>
      </div>
    <% end %>
    <div class="text-center mt-3 mb-5 d-grid">
      <%= button_to "削除", language_record_path(@language.id, @record.id), method: :delete, class: "btn btn-secondary col-6 mt-3 mb-4" %>
    </div>
  </div>
</div>