<div class="text-center text-danger">
  <%= render "layouts/error_messages", model: @language %>
</div>
<div class="pt-5 row">
  <div class="card col-lg-3 offset-lg-2" style="height: 20rem;">
    <p class="bg-sky_blue text-black text-center" style="width: 95px; height: 30px; font-size: 18px">言語登録</p>
    <h5 class="text-center pt-2 pb-5">言語を入力してください</h5>
    <div class="row">
      <%= form_with model: @language do |f| %>
        <div class="col-sm-10 offset-sm-1 pb-3">
          <%= f.text_field :language, class: "form-control", placeholder: "言語" %>
        </div>
        
        <div class="col-sm-8 offset-sm-2 d-grid text-center">
          <%= f.submit "投稿", class: "btn btn-sky_blue text-black" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card col-lg-4 offset-lg-1">
    <p class="bg-orange text-dark text-center" style="width: 120px; height: 30px; font-size: 18px;">学習中の言語</p>
    <table class="table table-borderless">
      <% @user_languages.each do |u_language| %>
        <tr>
          <td class="ps-5 fs-5 pe-5 py-4"><%= u_language.language %></td>
          <td class="ps-5 pt-4"><%= link_to "記録する", new_language_record_path(u_language.id), class: "btn" %></td>
          <td class="ps-4 pt-4"><%= link_to "詳細", language_path(u_language.id), class: "btn" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>