<div class="row">
  <div class="card offset-2 col-8 mt-5">
    <% if @records.present? %>
      <p class="bg-orange text-center" style="width: 100px; height: 40px; font-size: 23px;">統計</p>
      <h4 class="text-center mt-1 mb-4">あなたの学習の合計時間は、合計<%= @total_learning_time[0] %>時間 <%= @total_learning_time[1] %>分</h4>
      <div class="d-flex mt-2 mb-5">
        <div class="offset-2 col-3 mt-2">
          <div class="mb-3">⭐️言語ごとの学習時間</div>
          <% @records.each do |record| %>
            <div class="ms-3 mb-2"><%= record[0] %> : <%= record[1][0] %>時間<%= record[1][1] %>分</div>
          <% end %>
        </div>
        <div class="offset-1 mt-2">
          <p class="mb-3">カーソルを合わせると言語と割合が表示されます</p>
          <%= pie_chart @chart,suffix: "%" %>
        </div>
      </div>
    <% elsif @records.blank? %>
      <h5 class="my-5 text-center">
        まだ学習していません
        <%= link_to "こちら", languages_path %>から学習を記録しましょう。
      </h5>
    <% end %>
  </div>
</div>