<div class="card">
  <h3>統計</h3>
  あなたの学習の合計時間は、合計<%= @total_learning_time[0] %>時間 <%= @total_learning_time[1] %>分<br>
  <% @languages.each do |language| %>
    <%= language.language %>
    <% language.records.each do |record| %>
        <%= record.learning_hours / 60 %>時間<%= record.laerning_minutes %>分
    <% end %>
    <br>
  <% end %>
</div>