<h3>new</h3>
<%= form_with model: @learning_record do |f| %>
  <%= f.label :learning_method, "学習方法" %>
  <%= f.text_field :learning_method %><br>
  <%= f.label :language, "言語" %>
  <%= f.text_field :language %><br>
  <%= f.label :learning_time, "学習時間" %>
  <%= f.number_field :learning_time %><br>
  <%= f.submit "投稿" %>
<% end %>
<h3>index</h3>
<% @learning_records.each do |record| %>
  <%= record.learning_method %><br>
  <%= record.language %><br>
  <%= record.learning_time %><br>
<% end %>