<% if user_signed_in? %>
  <div class="header_after_sign_in">
    <%= link_to languages_path do %>
      <%= image_tag "Promane.png" %>
    <% end %>
    <%= link_to "уГЧуГнуГХуВгуГ╝уГл", profile_path %>
    <%= link_to "х▒ецн┤", history_path %>
    уГнуВ░уВдуГ│ф╕нуБоуГжуГ╝уВ╢уГ╝ЁЯСЙ<%= link_to current_user.last_name, profile_path %><%= link_to current_user.first_name, profile_path %>
    <%= button_to "уГнуВ░уВвуВжуГИ", destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <div class="header_before_sign_in">
    <%= image_tag "Promane.png" %>
    <%- if controller_name != 'sessions' %>
      <%= link_to "уГнуВ░уВдуГ│", new_session_path(resource_name) %>
    <%- elsif devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "уВвуВлуВжуГ│уГИф╜ЬцИР", new_registration_path(resource_name) %>
    <% end %>
  </div>
<% end %>