<div class="row">
  <div class="card offset-3 col-6 mt-5">
    <h3 class="text-center mt-4">ユーザー情報編集</h3>
    <span class="text-center mb-3">こちらのフォームでユーザー情報を編集できます。</span>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo_confirm: 'こちらで登録情報を更新しますか?' }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="offset-2">
        <%= f.label :last_name, "姓" %>
      </div>

      <div class="offset-2 col-8 mb-3">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
      </div>

      <div class="offset-2">
        <%= f.label :first_name, "名" %>
      </div>
      <div class="offset-2 col-8 mb-3">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
      </div>

      <div class="offset-2">
        <%= f.label :gender, "性別", class: "form-check-label ms-2" %><br>
        <%= f.label :man, "男性", class: "form-check-label offset-1" %>
        <%= f.radio_button :gender, :man, class: "form-check-input" %>
        <%= f.label :woman, "女性", class: "form-check-label offset-2" %>
        <%= f.radio_button :gender, :woman, class: "form-check-input" %>
        <%= f.label :other, "未記入", class: "form-check-label offset-2" %>
        <%= f.radio_button :gender, :other, class: "form-check-input" %>
      </div>

      <div class="offset-2">
        <%= f.label :age, "年齢" %>
      </div>
      <div class="offset-2 col-8 mb-3">
        <%= f.number_field :age, autofocus: true, autocomplete: "age", class: "form-control" %>
      </div>

      <div class="offset-2">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div class="offset-2 col-8 mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="text-center mt-3 mb-5 d-grid">
        <%= f.submit "編集", class: "btn btn-sky_blue offset-2 col-8 mt-3 mb-3 text-white" %>
      </div>
    <% end %>
  </div>
</div>